body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffdfc;
    min-height: 100%;
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

li {

    text-align: center;
}

h2 {
    margin-top: 10px;
}

footer {
    margin-top: auto;
    padding: 22px;
    text-align: center;
    font-size: 16px;
    background-color: #581876;
}

@media (max-width: 600px) {
    footer {
        background-color: aqua;
    }
    p {
        color: aliceblue;
    }
}

@media (min-width: 600px) and (max-width: 1024px) {
    footer {
        background-color: black;
    }
    p {
        color: white;
    }
}